**1. Write a python function that takes a list of numbers as input and returns the sum of all even numbers in the list.**

In [ ]:
def sum_even_numbers(numbers):
  total = 0
  for num in numbers:
    if num % 2 == 0:
      total += num
    return total

In [ ]:
nums = [20, 41, 59, 62, 92]
print(sum_even_numbers(nums))

20

**2. Create a python function that accepts a string and returns the reverseof that string.**

In [ ]:
def reverse_string(t):
  return t[::-1]
h = "Radhe Krishna"
print(reverse_string(h))

anhsirK ehdaR

**3. Inplement a Puthon funnction thattakes a list of integers and returns a new list containing the square of each number.**

In [ ]:
def sq_list(n):
  return [num ** 2 for num in n]
num = [9, 10, 11, 12, 13]
print(sq_list(num))

[81, 100, 121, 144, 169]

**4. Write a python functin that checks if a given number is prime pr not from 1 to 200.**

In [ ]:
def prime(n):
  if n < 2:
      return False
  for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
          return False
  return True

In [ ]:
for num in range(1, 201):
  if prime(num):
    print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

**5.Create an iterator class in Python that generates the Fibonacci sequence upto aspecified  a number of terms.**

In [ ]:
class

**6. Write a generator function in Python that yields the power of 2 uo to agiven exponent.**

In [ ]:
def power(n):
    for i in range(n + 1):
        yield 2 ** i

In [ ]:
for val in power(12):
    print(val, end=" ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096

**8. Use a lambda function in python to sort a list of tuoles based on the second element of each tuple.**

In [ ]:
data = [(1, 5), (3, 1), (6, 4), (10, 17)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(3, 1), (6, 4), (1, 5), (10, 17)]

**9. Write a Python [rogram that uses map() to convert a list  of tempertures from Celsius to Fahrenheit.**

In [ ]:
def ctf(c):
  return (c * 9/5) + 32
celsius = [0, 30, 37, 42, 100]
fahrenheit = list(map(ctf, celsius))
print("Celsius:    ", celsius)
print("Fahrenheit: ", fahrenheit)

Celsius:     [0, 30, 37, 42, 100]
Fahrenheit:  [32.0, 86.0, 98.6, 107.6, 212.0]

**10. Create a  Python program that uses filter() to remove all the vowels from a gicen string.**

In [ ]:
def remove_vowel(t):
  v = "aeiouAEIOU"
  return "".join(filter(lambda ch: ch not in v,t))
s = " Radhe radhe, Krisha is coming !"
print(remove_vowel(s))

 Rdh rdh, Krsh s cmng !